@import url(https://fonts.google.com/specimen/Titillium+Web);
@font-face {
    font-family: myFont;
     src: url("assets/TmonMonsori.ttf");
} 
body{
    background-color: #EDCABE;
    font-family:myFont, sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.logo{
    font-family:myFont, sans-serif;
    position:fixed;
    right:20px;

}
.hi{
    display:none;
}
.bubbleProfile {
    top:10%;
    position: fixed;
	width: 400px;
	text-align: center;
	line-height: 1.4em;
	margin: 40px auto;
	background-color: #fff;
	border: 8px solid #333;
	border-radius: 30px;
	font-family: myFont, sans-serif;
	padding: 20px;
	font-size: 14px;
    right:300px;
    box-shadow:inset 0 -8px 0 0 rgba(0,0,0,.2),
    1px 1px 0 0 #000000,
    2px 2px 0 0 #000000,
    3px 3px 0 0 #000000,
    4px 4px 0 0 #000000,
    5px 5px 0 0 #000000,    
    6px 6px 0 0 #000000,
    7px 7px 0 0 #000000,
    8px 8px 0 0 #000000,
    9px 9px 0 0 #000000,
    10px 10px 0 0 #000000,
    11px 11px 0 0 #000000,
    12px 12px 0 0 #000000;
}
.bubbleContact {
    top:10%;
    position: fixed;
	width: 400px;
	text-align: center;
	line-height: 1.4em;
	margin: 40px auto;
	background-color: #fff;
	border: 8px solid #333;
	border-radius: 30px;
	font-family: myFont, sans-serif;
	padding: 20px;
	font-size: 14px;
    right:300px;
    box-shadow:inset 0 -8px 0 0 rgba(0,0,0,.2),
    1px 1px 0 0 #000000,
    2px 2px 0 0 #000000,
    3px 3px 0 0 #000000,
    4px 4px 0 0 #000000,
    5px 5px 0 0 #000000,    
    6px 6px 0 0 #000000,
    7px 7px 0 0 #000000,
    8px 8px 0 0 #000000,
    9px 9px 0 0 #000000,
    10px 10px 0 0 #000000,
    11px 11px 0 0 #000000,
    12px 12px 0 0 #000000;
}





.buttons button{
    color:#666;
    margin-right:25px;
    font-family: myFont, sans-serif;
    float:left;
    outline:0; 
    background:#fff;
    border:none;
    padding:1.1em 1.1em;
    transition:all .1s ease-out; 
    cursor: pointer;
    align-items: center;
    border-radius:12px;
    box-shadow:inset 0 -8px 0 0 rgba(0,0,0,.2),
      1px 1px 0 0 #000000,
      2px 2px 0 0 #000000,
      3px 3px 0 0 #000000,
      4px 4px 0 0 #000000,
      5px 5px 0 0 #000000,
      6px 6px 0 0 #000000,
      7px 7px 0 0 #000000,
      8px 8px 0 0 #000000,
      9px 9px 0 0 #000000,
      10px 10px 0 0 #000000,
      11px 11px 0 0 #000000,
      12px 12px 0 0 #000000;   
  }

  .buttons button:hover{
    transform: scale(1.1) perspective(1px);
    background-color: #eceaea;
    color:#000;
    animation-play-state: paused;
  }

  .buttons button:active{
    color:#222;
    box-shadow:inset 0 -4px 0 0 rgba(0,0,0,.2),
      1px 1px 0 0 #000000,
      2px 2px 0 0 #000000,
      3px 3px 0 0 #000000,
      4px 4px 0 0 #000000,
      5px 5px 0 0 #000000;
  }
  .buttons img{
    height:50px;
    width: 50px;
  }
  
  @keyframes animateDown {
    0% {
        transform: translateY(-150px); /* Initial state at 0% */
      }
      50% {
        transform: translateY(20px); /* Middle state at 50% */
      }
      100% {
        transform: translateY(0); /* Final state at 100% */
      }
  }
 .topButtons{
    margin-left:30px;
 }
 .bottomButtons{
    margin-left:30px;
 }

 .bottomGrid{
    position:absolute;
    background:#fff;
    display:grid;
    grid-template-columns: 10% 75% 15%;
    bottom:0px;
    width:100%;
    border:2px solid;
    animation: slideUp 3s ease forwards;

 }
.options{
    padding:10px;
    border:2px solid;
    text-align:center;

}

@keyframes slideUp {
    from {
        transform: translateY(100%);
      }
      to {
        transform: translateY(0);
      }
}




/* adding responsiveness to phone screens*/
@media screen and (max-width:425px) {

    .bottomGrid{
        position:absolute;
        background:#fff;
        display:grid;
        grid-template-columns: 10% 60% 30%;
        bottom:0px;
        width:100%;
        border:2px solid;
        
     }
    .options{
        padding:10px;
        border:2px solid;
        text-align:center;
        font-size: 8px;
    }

    .bubbleProfile{
        width:70%;        
        right:60px;
        top:300px;
        height:23%;
    }

    .bubbleContact{
        width:70%;        
        right:60px;
        top:320px;
        height:7%;
    }
    .buttons button{
        font-size:8px;
        width:60px;
        box-shadow:inset 0 -8px 0 0 rgba(0,0,0,.2),
        1px 1px 0 0 #000000,
        2px 2px 0 0 #000000,
        3px 3px 0 0 #000000,
        4px 4px 0 0 #000000,
        5px 5px 0 0 #000000,
        6px 6px 0 0 #000000,
        7px 7px 0 0 #000000,
        8px 8px 0 0 #000000,
        9px 9px 0 0 #000000;
        
    }
    .buttons img{
        width:25px;
        height:25px;
    }
    .logo{
        right:50px;
        font-size:8px;
    }
}
