@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Roboto:ital,wght@0,500;0,700;1,900&display=swap');
@font-face {
    font-family: myFont;
     src: url("assets/TmonMonsori.ttf");
} 
body{
    background-color: #EDCABE;
}

.header{
    font-family: myFont, sans-serif;
    position:absolute;
    right:100px;
    bottom:650px;
}
.header2{
    font-family: myFont, sans-serif;
    position:absolute;
    right:60px;
    bottom:610px;
}

.bubble {
    display:none;
    position: absolute;
	width: 400px;
	text-align: center;
	line-height: 1.4em;
	margin: 40px auto;
	background-color: #fff;
	border: 8px solid #333;
	border-radius: 30px;
	font-family: myFont, sans-serif;
	padding: 20px;
	font-size: 14px;
    right:300px;
    bottom:400px;
    box-shadow:inset 0 -8px 0 0 rgba(0,0,0,.2),
    1px 1px 0 0 #000000,
    2px 2px 0 0 #000000,
    3px 3px 0 0 #000000,
    4px 4px 0 0 #000000,
    5px 5px 0 0 #000000,
    6px 6px 0 0 #000000,
    7px 7px 0 0 #000000,
    8px 8px 0 0 #000000,
    9px 9px 0 0 #000000,
    10px 10px 0 0 #000000,
    11px 11px 0 0 #000000,
    12px 12px 0 0 #000000;
}


.bubble:before,
.bubble:after {
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
}



.bubbleSign {
    display:none;
    position: absolute;
	width: 500px;
	text-align: center;
	line-height: 1.4em;
	margin: 40px auto;
	background-color: #fff;
	border: 8px solid #333;
	border-radius: 30px;
	font-family: myFont, sans-serif;
	padding: 20px;
	font-size: 14px;
    right:200px;
    bottom:350px;
    box-shadow:inset 0 -8px 0 0 rgba(0,0,0,.2),
    1px 1px 0 0 #000000,
    2px 2px 0 0 #000000,
    3px 3px 0 0 #000000,
    4px 4px 0 0 #000000,
    5px 5px 0 0 #000000,
    6px 6px 0 0 #000000,
    7px 7px 0 0 #000000,
    8px 8px 0 0 #000000,
    9px 9px 0 0 #000000,
    10px 10px 0 0 #000000,
    11px 11px 0 0 #000000,
    12px 12px 0 0 #000000;
}


.bubbleSign:before,
.bubbleSign:after {
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
}
.bubbleSign img{
    height:35px;
    width: 35px;
}

.buttons button{
 
  outline:0; 
  background:#fff;
  border:none;
  padding:1.1em 1.1em;
  transition:all .1s ease-out; 
  cursor: pointer;
  align-items: center;
  border-radius:12px;
  box-shadow:inset 0 -8px 0 0 rgba(0,0,0,.2),
    1px 1px 0 0 #000000,
    2px 2px 0 0 #000000,
    3px 3px 0 0 #000000,
    4px 4px 0 0 #000000,
    5px 5px 0 0 #000000,
    6px 6px 0 0 #000000,
    7px 7px 0 0 #000000,
    8px 8px 0 0 #000000,
    9px 9px 0 0 #000000,
    10px 10px 0 0 #000000,
    11px 11px 0 0 #000000,
    12px 12px 0 0 #000000;
}

.buttons button:hover{
  transform: scale(1.1) perspective(1px)
}
.buttons button:active{
  color:#222;
  box-shadow:inset 0 -4px 0 0 rgba(0,0,0,.2),
    1px 1px 0 0 #000000,
    2px 2px 0 0 #000000,
    3px 3px 0 0 #000000,
    4px 4px 0 0 #000000,
    5px 5px 0 0 #000000;
}

.overlay{
    height:100%;
    width:100%;
    position:absolute;
    background:rgba(0,0,0,.3);
    opacity: 0;
    pointer-events: none;
}

.box{
    background: #f3f1f1;
    position:absolute;
    border-radius: 18px;
    max-width: 500px;
    width:100%;
    font-size: 14px;
    display: flex;
    align-items: center;
    padding:50px 30px;
    left:31%;
    top:30%;
}

.box h2{
    top:100px;
    position :absolute;
}
.profile{
    position:absolute;
    top: 50px;
    right: 1400px;
}
.profile img{
    height:50px;
    width: 50px;
}

.pixelAdventure{
    position:absolute;
    top: 80px;
    right: 1400px;
}
.pixelAdventure img{
    height:50px;
    width: 50px;
}


.contact{
    position:absolute;
    top: 50px;
    right: 1300px;
}
.contact img{
    height:50px;
    width:50px;
}
.portfolioWebsite{
    position:absolute;
    top: 80px;
    right: 1270px;
}

.portfolioWebsite img{
   height:50px;
   width:50px;
}
.resume{
    position:absolute;
    top: 50px;
    right: 1100px;
}
.resume img{
    height:50px;
    width:50px;
}

.tottenham{
    position:absolute;
    top: 80px;
    right: 1130px;
}

.tottenham img{
   height:50px;
   width:50px;
}
.project{
    position:absolute;
    top: 50px;
    right: 1200px;
}
.project img{
    height: 50px;
    width: 50px;
}

.github{
    position:absolute;
    top: 200px;
    right: 1400px;
}
.github img{
    height: 50px;
    width: 50px;
}

.linkedin{
    position:absolute;
    top: 200px;
    right: 1300px;
}

.linkedin img {
    height: 50px;
    width: 50px;
}

.instagram{
    position: absolute;
    top: 200px;
    right: 1200px;

}
.instagram img{
    height:50px;
    width:50px;
}

.garbage{
    position: absolute;
    top: 200px; 
    right: 1100px;

}

.garbage img{
    height: 50px;
    width: 50px;
}
small{
    position:absolute;
    display: block;
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
}

.profileText{
    top:150px;
    right:1400px;
}  
.pixelAdventureText{
    top:182px;
    right:1400px;
}    

.contactsText{
    top:150px;
    right:1305px;
}
.portfolioText{
    top:182px;
    right:1275px;
}
.projectText{
    top:150px;
    right:1207px;
}

.resumeText{
    top:150px;
    right:1108px;
}
.tottenhamText{
    top:182px;
    right: 1125px;
}
.githubText{
    top:300px;
    right: 1413px;
}

.linkedinText{
    top:300px;
    right:1305px;
}

.instagramText{
    top:300px;
    right:1200px;
}

.garbageText{
    top:300px;
    right:1105px;
}

.bottom button {
    background-color: #fff;
    border: 5px solid black; 
    color: black; 
    cursor: pointer; 
    position:absolute;
    top:666px;
    font-weight:bold;
    font-size: 15px;
    display: inline-block;
    cursor: pointer;
    
  }

  .bottom button:not(:last-child) {
    border-right: none; /* Prevent double borders */
  }
  
  
  .bottom:after {
    content: "";
    clear: both;
    display: table;
  }
.start{
    padding: 30px 50px; 
    right:1400px;
}

.search{
    position:relative;
    padding:38.9px 700px;
    right: 1px;
    background-image: url('wifi.png'), url('volume-level.png'), url('battery.png');
    background-repeat: no-repeat;
    background-position: right 11% center, right 14% center, right 17% center;
    background-size: 30px 30px;
}

.search img{
    position:absolute;
    top:50%;
    right:150px;
    transform: translateY(-50%);
    width: 30px;
	height: 30px;
}

.time{
    padding: 30px 30px;
    right: 0px;
}

.dropup-menu{
    display:none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 150px;
    bottom: 75px;
    right:1380px;
    z-index: 1;
    border-radius:5px;
    box-shadow:inset 0 -8px 0 0 rgba(0,0,0,.2),
    1px 1px 0 0 #000000,
    2px 2px 0 0 #000000,
    3px 3px 0 0 #000000,
    4px 4px 0 0 #000000,
    5px 5px 0 0 #000000,
    6px 6px 0 0 #000000,
    7px 7px 0 0 #000000,
    8px 8px 0 0 #000000,
    9px 9px 0 0 #000000,
    10px 10px 0 0 #000000,
    11px 11px 0 0 #000000,
    12px 12px 0 0 #000000;
    
}

.dropup-menu a {
    color: black;
    padding: 20px 16px;
    text-decoration: none;
    display: block;

  }

.dropup-menu a:hover {background-color: #ccc}

 .start:hover {
  background-color: #ccc;
}

.show {
    display:block;
}

.shutdown {
    font-weight: bold;
    position:absolute;
    right:32px;
    bottom:82px;
    font-family: 'Lato', sans-serif;

}

.restart{
    font-weight: bold;
    position:absolute;
    right:57px;
    bottom:23px;
    font-family: 'Lato', sans-serif;
}

.close img{
    width: 25px;
    height: 25px;
}

.close{
    right:40px;
    top: 15px;
    position:absolute;
}